doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Webpack Demo

body
  div.container
    h1.title Webpack Demo

    p.subtitle Modern CSS framework based on
      a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox") Flexbox


    div.field
      div.control
        input.input(type="text" placeholder="Input")

    div.field
      p.control
        span.select
          select
            option Select dropdown

    div.buttons
      a.button.is-primary#btn-show-alert Primary
      a.button.is-link#btn-show-alert-ts Link
